@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-normal text-base text-body bg-whiten relative z-1;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
