name: Test
on: push

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3

      - uses: actions/setup-go@v2
        with:
          node-version: "19"

      - name: Run API test
        run: |
          cd backend
          yarn install
          yarn test
